body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.intro-text {
    font-size: 1.5em; 
    margin-bottom: 20px; 
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 1.5em;
    margin-bottom: 5px;
    line-height: 1.5;
    text-align: left; /* Left-align the label */
  }
  

input, select {
    font-size: 1.3em;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

small {
    display: block;
    margin-top: 20px;
    font-size: 0.9em;
}


a {
    color: #269eda;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #f0f0f0;
    padding: 20px 0;
    margin-top: 20px; /* 위쪽에 20px 마진 추가 */
}


.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 0 auto; 
}

.footer-left, .footer-right {
    display: flex;
    align-items: center;
}

.footer-left span, .footer-right span {
    margin-left: 5px;
}