body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

div {
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}
